<h1> Cache Ratio </h1>

Number of Queries: <%= @cache_request %> <br>
Number of Hits: <%= @cache_hit  %> <br>
Number of Misses: <%= @cache_miss %> <br>
Number of Cache Resets: <%= @reset_count %> <br>
Cache hit Ratio: <%= 
  if @cache_request.to_i == 0
    0.00
  else
    (@cache_hit.to_f/@cache_request.to_f).round(2)
  end
%>
