<h1>All whales</h1>

<div class="whales_show_all">
  <div class="digg_pagination">
    <%= will_paginate @whales %>

  </div>
  <table class="whales_main">
    <col width = 10% >
    <col width = 40% >
    <col width = 40% >
    <col width = 10% >
    <thead>
      <tr class="no-hover">
        <th>ID</th>
        <th>Name</th>
        <th>Country</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @whales.each do |whale| %>
        <tr>
          <td>
            <%= whale.id %>
          </td>
          <td>
            <%= 
                link_to whale.name, whale 
            %>
          </td>
          <td>
            <%= whale.country %>
          </td>
          <td>
            <%= link_to "Delete", "#"#, whale,method: :delete 
            %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class ="digg_pagination">
    <%= will_paginate %>
  </div>
  <br>
  <p style ="text-align: left;" >
    <%= link_to "New Whale", new_unsynced_path %>
  </p>
</div>
