<% if @unsynced.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@unsynced.errors.count, "error") %>.
    </div>
    <ul>
    <% @unsynced.errors.full_messages.each do |msg| %>
      <li><%= simple_format(msg) %></li>
    <% end %>
    </ul>
  </div>
<% end %>
