<h1>Update Commit</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@unsynced) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :country %>
      <%= f.text_field :country, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
    <br>
    <input type="button" onclick="history.back()" value="Cancel" />

  </div>
</div>
