<h1>All uncommited changes</h1>

<div class="unsynced">
  <div class="digg_pagination">
    <%= will_paginate @unsynced %>
  </div>
  <table class="unsynced_main">
    <col width = 10%>
    <col width = 35%>
    <col width = 30%>
    <col width = 10%>
    <col width = 15%>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Country</th>
        <th>Status</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @unsynced.each do |cur| %>
      <tr>
        <td>
          <%= cur.id %>
        </td>
        <td>
          <%= link_to cur.name, edit_unsynced_path(cur) %>
        </td>
        <td>
          <%= cur.country %>
        </td>
        <td>
          <%= cur.status %>
        </td>
        <td>
          <%= link_to "Remove change", cur, method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="digg_pagination">
    <%= will_paginate @unsynced %>
  </div>
  <br>
  <p style="text-align:left;">
    <%= link_to "New Whale", new_unsynced_path%>
    <span style="float:right;"><%= link_to "Push Commit", unsynced_commit_path %>
  
</div>
