<%= 
 
  # Metadatum(Last_Saved) is used in sidebar, and since sidebar is always
  # open for all pages object Last_sync is just loaded directly in sidebar
  
  @LastSync = Metadatum.find_by name: "Last_Sync"

  # Check cache for Last sync
  # @LastSync = Rails.cache.fetch("Last_Sync") { 
  #   # No cache found
  #   puts 'No cache found. Generating...';
  #   Metadatum.find_by name: "Last_Sync"
  # }   
  #Last sync doesn't exist, create new object
  if @LastSync == nil 
    @LastSync = Metadatum.new(name: "Last_Sync", value: "Never")
    @LastSync.save
  end
%>

<div class = "col-sm-3 col-md-2 sidebar">
  <b>Server Operations</b>
  <ul>
    <li><%= link_to "Sync with main server", sync_path %>
    <br>Last sync: <%= @LastSync.value %></li>
    <li><%= link_to "Cache Hit Ratio", cache_ratio_path %></li>
    <li><%= link_to "Purge Cache", purgecache_path %></li>
  </ul>
  <b>Navigation</b>
  <ul>
    <li><%= link_to "See all whales", main_path %></li>
    <li><%= link_to "See all unsaved commits", unsynced_index_path %></li>
  </ul>
</div>
