<!DOCTYPE html>
<html>
  <head>
    <title>Whales Proxy Server</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/sidebar' %>
    <div class ="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
